<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    <div class="container">
        <h1>Edit <%= piece.name %></h1>
        <form action="/collections/<%= piece.collectionId %>/<%= piece._id %>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= piece.name %>"><br />
            Description: <input type="text" name="description" value="<%= piece.description %>"><br />
            Image URL: <input type="text" name="img" value="<%= piece.img %>"><br />
            Purchase Link: <input type="text" name="link" value="<%= piece.link %>"><br />
            <input class="btn btn-dark" type="submit" value="Sumbit Changes">
        </form>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>