<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    <div class="container-fluid">
        <h1>Edit <%= collection.name %></h1>
        <form action="/collections/<%= collection._id %>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= collection.name %>">
            Description: <input type="text" name="description" value="<%= collection.description %>">
            Image URL: <input type="text" name="img" value="<%= collection.img %>">
            <input class="btn btn-dark" type="submit" value="Sumbit Changes">
        </form>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>