<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    <div class="container">
        <h1>Edit <%= piece.name %></h1>
        <form action="/collections/<%= piece.collectionId %>/<%= piece._id %>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= piece.name %>">
            Description: <input type="text" name="description" value="<%= piece.description %>">
            Image URL: <input type="text" name="img" value="<%= piece.img %>">
            <input class="button" type="submit" value="Sumbit Changes">
        </form>
    </div>
</body>
</html>