<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    <div class="container-fluid">    
    <h1>Welcome to Peculiar Charm</h1>
    <div class="row">
    <% collections.forEach(collection => { %>
        <h2><%= collection.name %></h2>
        <a href="/collections/<%= collection._id %>"><img class="collectionImg" src="<%= collection.img %>"></a> 
        <p><%= collection.description %></p>
    <% }) %>
    <a href="/collections/new"><button>Add a New Collection</button></a>
</div>
</div>
</body>
</html>