<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    <div class="container-fluid">
        <h1>Add a New Piece</h1>
        <form action="/collections/<%= collectionId %>/pieces" method="POST" autocomplete="off">
            Name: <input type="text" name="name"><br />
            Description: <input type="text" name="description"><br />
            Image URL: <input type="text" name="img"><br />
            Link to buy/ more info: <input type="text" name="link"><br />
            <input type="hidden" name="collectionId" value="<%= collectionId %>">
            <input class="btn btn-dark" type="submit" value="Add New"> 
        </form>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>