<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    
    <ul>
        <li><%= piece.name %></li>
        <img src="<%= piece.img %>">
        <li><%= piece.description %></li>
    </ul>  

</body>
</html>