<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    <div class="container-fluid">
        <h1><%= piece.name %></h1>
        <div class="row">
            <div class="col">
                <img class="showImg" src="<%= piece.img %>">
                <p><%= piece.description %></p>
                <a class="link" href="<%= piece.link %>" target="_blank"><button class="btn btn-dark">More Info/Buy Here!</button></a><br />
                <a href="/collections/<%= piece.collectionId %>/<%= piece._id %>/edit"><button class="btn btn-dark">Edit This Piece</button></a><br />
                <% if (user._id != '63deda0169b154aa4776d687') { %>
                <form action="/collections/<%= piece.collectionId %>/<%= piece._id %>?_method=DELETE" method="POST">
                    <input class="btn btn-dark btn-sm" type="submit" value="DELETE Piece">
                </form>
                <% } %>
            </div>
        </div>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>